	<!-- copyright -->
	<div class="copy-right py-3">
		<div class="container">

			<p class="text-center text-white">© 2018 Electro Store. All rights reserved | Design by
				<a href="http://w3layouts.com"> W3layouts.</a> | As 
				<a href="/admin/login"> Admin </a>
			</p>
		</div>
	</div>
	<!-- //copyright -->