	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="agileits-navi_search">
					<form action="#" method="post">
						<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
							<option value="">All Categories</option>
							<option value="Televisions">Televisions</option>
							<option value="Headphones">Headphones</option>
							<option value="Computers">Computers</option>
							<option value="Appliances">Appliances</option>
							<option value="Mobiles">Mobiles</option>
							<option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
							<option value="iPad & Tablets">iPad & Tablets</option>
							<option value="Cameras & Camcorders">Cameras & Camcorders</option>
							<option value="Home Audio & Theater">Home Audio & Theater</option>
						</select>
					</form>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="index">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Electronics
							</a>
							<div class="dropdown-menu">
								<div class="agile_inner_drop_nav_info p-4">
									<h5 class="mb-3">Mobiles, Computers</h5>
									<div class="row">
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product">All Mobile Phones</a>
												</li>
												<li>
													<a href="product">All Mobile Accessories</a>
												</li>
												<li>
													<a href="product">Cases & Covers</a>
												</li>
												<li>
													<a href="product">Screen Protectors</a>
												</li>
												<li>
													<a href="product">Power Banks</a>
												</li>
												<li>
													<a href="product">All Certified Refurbished</a>
												</li>
												<li>
													<a href="product">Tablets</a>
												</li>
												<li>
													<a href="product">Wearable Devices</a>
												</li>
												<li>
													<a href="product">Smart Home</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product">Laptops</a>
												</li>
												<li>
													<a href="product">Drives & Storage</a>
												</li>
												<li>
													<a href="product">Printers & Ink</a>
												</li>
												<li>
													<a href="product">Networking Devices</a>
												</li>
												<li>
													<a href="product">Computer Accessories</a>
												</li>
												<li>
													<a href="product">Game Zone</a>
												</li>
												<li>
													<a href="product">Software</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Appliances
							</a>
							<div class="dropdown-menu">
								<div class="agile_inner_drop_nav_info p-4">
									<h5 class="mb-3">TV, Appliances, Electronics</h5>
									<div class="row">
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product2">Televisions</a>
												</li>
												<li>
													<a href="product2">Home Entertainment Systems</a>
												</li>
												<li>
													<a href="product2">Headphones</a>
												</li>
												<li>
													<a href="product2">Speakers</a>
												</li>
												<li>
													<a href="product2">MP3, Media Players & Accessories</a>
												</li>
												<li>
													<a href="product2">Audio & Video Accessories</a>
												</li>
												<li>
													<a href="product2">Cameras</a>
												</li>
												<li>
													<a href="product2">DSLR Cameras</a>
												</li>
												<li>
													<a href="product2">Camera Accessories</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-6 multi-gd-img">
											<ul class="multi-column-dropdown">
												<li>
													<a href="product2">Musical Instruments</a>
												</li>
												<li>
													<a href="product2">Gaming Consoles</a>
												</li>
												<li>
													<a href="product2">All Electronics</a>
												</li>
												<li>
													<a href="product2">Air Conditioners</a>
												</li>
												<li>
													<a href="product2">Refrigerators</a>
												</li>
												<li>
													<a href="product2">Washing Machines</a>
												</li>
												<li>
													<a href="product2">Kitchen & Home Appliances</a>
												</li>
												<li>
													<a href="product2">Heating & Cooling Appliances</a>
												</li>
												<li>
													<a href="product2">All Appliances</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="about">About Us</a>
						</li>
						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="product">New Arrivals</a>
						</li>
						<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pages
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="product">Product 1</a>
								<a class="dropdown-item" href="product2">Product 2</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="single">Single Product 1</a>
								<a class="dropdown-item" href="single2">Single Product 2</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="checkout">Checkout Page</a>
								<a class="dropdown-item" href="payment">Payment Page</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->