
<html lang="zxx">
<head>
	<% include ./partials/head %>
	<!-- {{>head}} -->
</head>
<body>
<% include ./partials/top-header %>


<% include ./partials/bottom-header %>


<% include ./partials/navigation %>

<% include ./partials/banner %>

<% include ./partials/about-home %>


<% include ./partials/footer-about %>


<% include ./partials/about-js %>


<% include ./partials/copyright %>

</body>
</html>


