<html lang="zxx">
<head>
	<% include ./partials/head %>
	<!-- {{>head}} -->
</head>
<body>

<% include ./partials/top-header %>
<!-- {{>top-header}} -->

	<!-- header-bottom-->
<% include ./partials/bottom-header %>
<!-- {{>bottom-header}} -->

	<!-- shop locator (popup) -->
	<!-- //header-bottom -->

	<!-- navigation -->
<% include ./partials/navigation %>
<!-- {{>navigation}} -->
	<!-- //navigation -->
	<!-- banner -->
<% include ./partials/banner %>
	<!-- //banner -->

	<!-- top Products -->
<% include ./partials/top-products %>
	<!-- //top products -->

	<!-- middle section -->
<% include ./partials/middle-section %>
	<!-- middle section -->

	<!-- footer -->
<% include ./partials/footer %>
	<!-- //footer -->

	<!-- js-files -->
<% include ./partials/js-files %>
	<!-- //js-files -->

		<!-- copyright -->
<% include ./partials/copyright %>
<!-- {{>copyright}} -->

</body>
</html>