<html lang="zxx">
<head>
	<% include ./partials/head %>
	<!-- {{>head}} -->
</head>
<body>
<% include ./partials/top-header %>


<% include ./partials/bottom-header %>


<% include ./partials/navigation %>


<% include ./partials/banner %>

<% include ./partials/product2 %>


<% include ./partials/footer %>


<% include ./partials/product2-js %>


<% include ./partials/copyright %>
</body>
</html>
